<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MostrarDatos</servlet-name>
        <servlet-class>servlet.MostrarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarServ</servlet-name>
        <servlet-class>servlet.AgregarServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>servlet.EliminarServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarParaModificarServ</servlet-name>
        <servlet-class>servlet.CargarParaModificarServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarServ</servlet-name>
        <servlet-class>servlet.ModificarServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MostrarDatos</servlet-name>
        <url-pattern>/MostrarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarServ</servlet-name>
        <url-pattern>/AgregarServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/EliminarServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarParaModificarServ</servlet-name>
        <url-pattern>/CargarParaModificarServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarServ</servlet-name>
        <url-pattern>/ModificarServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
